Release Notes
=============

SageMaker JumpStart Industry Python SDK v1.0.0
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

*Date: Sep. 30. 2021*

Upgrade Steps
-------------

- [ACTION REQUIRED]
-

Breaking Changes
----------------

-
-

New Features
------------

-
-

Bug Fixes
---------

-
-

Improvements
------------

-
-

Other Changes
-------------

-
-
